.photo-frame {
	background-color: #0d0d0d;
	height: 720px;
	overflow: hidden;
	position: relative;
	width: 720px;

	&__image {
		object-fit: contain; // Next.js 13 has deprecated setting this prop in the Image component
	}
}

.widget {
	bottom: 26px;
	display: grid;
	grid-template: {
		areas:
		'date date'
		'weather weather'
		'location time';
		//columns: 50%;
		rows: auto;
	}
	left: 26px;
	position: absolute;

	&__date,
	&__location,
	&__weather,
	&__time {
		text-shadow: 2px 2px 2px #000000;
	}

	&__date,
	&__location,
	&__time {
		font-size: 16px;
	}

	&__date {
		grid-area: date;
	}

	&__location {
		grid-area: location;
	}

	&__weather {
		display: flex;
		font-size: 32px;
		grid-area: weather;

		// @todo This is janky, do a proper fix
		> div {
			flex: 1 1 auto;

			+ div {
				align-items: center;
				display: flex;
				justify-content: center;
			}
		}
	}

	&__time {
		grid-area: time;
	}
}
